/techwm-app/build/classes/kotlin/main/il/ac/technion/cs/softwaredesign/Book$Companion.class
/techwm-app/build/classes/kotlin/main/il/ac/technion/cs/softwaredesign/Book.class
/techwm-app/build/classes/kotlin/main/il/ac/technion/cs/softwaredesign/SifriTaub$listBookIds$$inlined$sortedBy$1.class
/techwm-app/build/classes/kotlin/main/il/ac/technion/cs/softwaredesign/SifriTaub$listBookIds$1.class
/techwm-app/build/classes/kotlin/main/il/ac/technion/cs/softwaredesign/SifriTaub$listBookIds$3.class
/techwm-app/build/classes/kotlin/main/il/ac/technion/cs/softwaredesign/SifriTaubModule$configure$$inlined$bind$2.class
/techwm-app/build/classes/kotlin/main/il/ac/technion/cs/softwaredesign/SifriTaubModule$configure$$inlined$getInstance$1.class
/library/build/classes/kotlin/main/IDsDataBase.class
/techwm-app/build/classes/kotlin/main/il/ac/technion/cs/softwaredesign/ProductionTokenFactory.class
